<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
     body{
       background-color:#ffe6ff;
     }
     .center{
       text-align: center;
       margin-top: 15%;
       font-style: italic;
     }
    </style>
  </head>
  <body>
    <div class="center">
      <h4><%=time_day%>---<%=kind_of_day%></h4>

    <h3>The weather is currently <%=weather_info%> </h3>
    <h1><b><%=weather_city%> : <%=weather_temp%>&#8451</b></h1>
    <img src=<%=weather_image%> >
    <div>
  </body>
</html>
